@{
    ViewBag.Title = "Home Page";
}



<script>

    $(document).ready(function () {
        $(".body-content").toggleClass("container");
        $(".body-content").toggleClass("body-content");
        $("body").css('background-color', 'black');
    });




</script>
<div style="background-color:red;">
    <div class="jumbroton" style=" ">

        <font style="        font-family: leanerthin; font-size: 91px;">TEAM.UP</font>
        <hr style="" />

        <p class="lead" style="font-family: leanerthin; font-size: 30px;">
            Crea il tuo Progetto, Crea il Tuo Team <br />collabora, Condividi i tuoi file, Comunica con tutti...
        </p>

        <hr style="" />

    </div>
</div>
<div class="row">
    <div class="col-md-12 About">
        <h2 style="        font-family: leanerthin; font-size: 91px;">About</h2>
        <hr style=" border: 1px solid #000000ad;width: 84%;" />
        <p style=" font-family: leanerthin; font-family: leanerthin;    font-weight: bolder;    font-size: 16px;">
            La nostra applicazione ti permette la creazione e la gestione di Progetti <br />di diversa natura.
            Ha la possibilità di create un progetto con un team di persone, che potranno collaborare e comunicare <br />da loro in qualsiasi momento
            <br /><br />


            <div class="col-sm-4">
                <i class="material-icons" style="color: black;font-size: 50px;">assignment </i><br />

                <font style="font-family: leanerthin; font-family: leanerthin;    font-weight: bolder;    font-size: 16px;">

                    Naviga tra i nuovi progetti… <br />Potresti trovare quel che cerchi
                </font>
            </div>

            <div class="col-sm-4">
                <i class="material-icons" style="color: black;font-size: 50px;">extension </i><br />
                <font style="font-family: leanerthin; font-family: leanerthin;    font-weight: bolder;    font-size: 16px;">

                    Naviga tra i nuovi progetti… <br />Potresti trovare quel che cerchi
                </font>
            </div>

            <div class="col-sm-4">
                <i class="material-icons" style="color: black;font-size: 50px;">touch_app </i><br />
                <font style="font-family: leanerthin; font-family: leanerthin;    font-weight: bolder;    font-size: 16px;">

                    Naviga tra i nuovi progetti… <br />Potresti trovare quel che cerchi
                </font>
            </div>
        </p>
    </div>

</div>



<div class="row">
    <div class="col-md-12 Staff">
        <h1>Il nostro Dream Team</h1><br />
        <div class="row">

            <div class="col-sm-4 staffPanel" style="">
                <div class="staffP">
                    <img src="https://www.cross-team.it/Uploads/Accountsnowi.jpg" />
                    <br /> <br />
                    <strong>Ilaria LaNeve</strong>

                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ev
                        er since the 1500s, when an unknown printer took a gal
                        ley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but al
                        so the leap into electronic typesetting, remaining es
                      

                    </div>
                </div>
            </div>
            <div class="col-sm-4 staffPanel">
                <div class="staffP">
                    <img src="https://www.cross-team.it/Uploads/Accountmino.jpg" />
                    <br /> <br />
                    <strong>Cosimo Corvino</strong>
                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ev
                        er since the 1500s, when an unknown printer took a gal
                        ley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but al
                        so the leap into electronic typesetting, remaining es


                    </div>
                </div>
            </div>
            <div class="col-sm-4 staffPanel">
                <div class="staffP">
                    <img src="https://www.cross-team.it/Uploads/AccountFede.jfif" />
                    <br /> <br />
                    <strong>Federica Panno</strong>
                    <div>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ev
                        er since the 1500s, when an unknown printer took a gal
                        ley of type and scrambled it to make a type specimen
                        book. It has survived not only five centuries, but al
                        so the leap into electronic typesetting, remaining es


                    </div>
                </div>
            </div>


        </div>
    </div>

</div>