@font-face {
    font-family: 'leanerthin';
    src: url('leaner-thin-100-webfont.woff2') format('woff2'), url('leaner-thin-100-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.staffP {
 
}


footer {
    color: white;
    width: 100%;
    background: #0c0a0a;
    text-align: center;
    padding: 1%;
    position: absolute;
    bottom:0px;
}







.staffPanel img {
    width: 68%;
}



.staffPanel img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}



.staffPanel b {
    font-size: 25px;
    font-family: 'leanerthin';
}


.Staff {
    background: rgb(18 74 130 / 77%);
    text-align: center;
    color: white;
    padding-top: 2%;
    padding-bottom: 4%;
    padding: 4%;
}


    .Staff h1 {
        font-family: 'leanerthin';
    }

.btnHome {
    border-radius: 3px;
    color: rgb(51,74,92);
    padding: 7px;
    background: white;
    font-size: 16px;
    font-family: auto;
    font-weight: 800;
    font-family: leanerthin;
}

    .btnHome:hover {
        border-radius: 3px;
        color: rgb(51,74,92);
        padding: 7px;
        background: white;
        font-size: 16px;
        font-family: auto;
        font-weight: 800;
        font-family: leanerthin;
    }

.jumbroton {
    text-align: center;
   
    background: rgba(52,73,94,0.8);
    color: white;
    padding: 5%;
    padding-top: 2%;
}


.About {
    text-align: center;
    color: black;
    padding-top: 2%;
    padding-bottom: 2%;
background:white;
}



body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.avatarClass {
    width: 70%;
    height: 75%;
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
}


.tdMyaAvatar {
    font-weight: bold;
    font-family: monospace;
}


#Competences {
    width: 350px;
    display: flex;
    flex-flow: row-reverse wrap;
}

    #Competences a {
        height: 30px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 3px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 2px;
    }








.dettailResp {
    display: none;
}


@media only screen and (max-width: 600px) {
    .mediaNone {
        display: none;
    }

    .dettailResp {
        display: block;
    }

    #Competences {
        display: none;
    }


    #CompetencesMobile {
        display: flex;
        flex-flow: row-reverse wrap;
    }

        #CompetencesMobile a {
            height: 30px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 3px;
            justify-content: center;
            align-items: center;
            display: flex;
            margin: 2px;
        }
}


.ow {
    /* margin: 0 auto; */
    max-width: 74%;
    /* border: solid 2px #ccc; */
    padding: 12px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: break-spaces;
    overflow: auto;
}


.bDetail {
    color: #0b0b71;
    font-size: 21px;
    font-family: monospace;
}

.divDetail {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}


.appTextArea {
    padding: 1%;
    border: 1px solid #00000029;
    border-radius: 5px;
}


.editoButton {
    background: none;
    border: none;
}

#editor {
    border: 1px solid #e3dbdb;
    padding: 4px;
}


.message {
    font-size: 13px;
    font-family: monospace;
    padding-top: 10px;
}



.profile {
    text-align: center;
}

.profileAvatar {
    border: 1px solid #00000054;
    /* padding: 2px; */
    width: 120px;
    height: 120px;
    border-radius: 28%;
    margin-bottom: 12px;
}

.navbar-brand {
    color: white !important;
    font-family: inherit;
    font-variant: small-caps;
    font-size: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: inherit;
    font-variant: small-caps;
}

.pdsads {
    background: none;
    border: 0px solid;
    color: blue;
    font-size: 16px;
    font-family: monospace;
}
