
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Upload Avatar</title>


    <style>

        input[type="file"] {
            display: none;
        }


        .btnInput {
            color: white;
            height: 60px;
            background-color: black;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .btnInput:hover {
            color: lightblue;
            height: 60px;
            background-color: black;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            display: flex;

        }


        .labelInput {
            justify-content: center;
            align-items: center;
            display: flex;
            padding-top: 1%;
        }

        .avatar {
            width: 80%;
            height: 75%;
            padding: 1%;
            border: 1px solid black;
        }

        a:hover {
            text-decoration: none;
            color: white;
        }
    </style>

</head>
<body>

   


    <div class="container labelInput">

        @{

            if (ViewBag.NotLogin == true)
            {

                <h1> FAI IL LOGIN STRONZO</h1>

            }
            else
            {

                <div class="row ">
                    <div class="labelInput">
                        @{
                            if (ViewBag.Url != null && ViewBag.Url != "")
                            {
                                <img src="~/Uploads/@(ViewBag.Url)" class="avatar" /><br />
                            }
                            else
                            {
                                <img src="~/Uploads/NotImage.png" class="avatar" /><br />
                            }



                        }
                    </div>
                    <div class="labelInput">


                        <div class="col-sm-4" style=" width:160px;">
                            <form action="" method="post" enctype="multipart/form-data" id="formUpload">
                                <input type="file" name="file" id="file" />
                                <label for="file" class="btnInput">
                                    <i class="material-icons">
                                        add_photo_alternate
                                    </i>
                                    Upload
                                </label>
                            </form>
                        </div>
                        <div class="col-sm-4" style="height:65px; width:160px;">



                            <a class="btnInput" href="@Url.Action("Index", "Home")">
                                <i class="material-icons">
                                    done_outline
                                </i>
                                Upload
                            </a>
                        </div>




                    </div>

                </div>



            }

        }




    </div>




    <script>

        $("#file").change(function () {
            document.getElementById("formUpload").submit();

        });



    </script>
</body>
</html>
